/*
 * Page settings
 * Global page settings
 */

main {
    transition: all .3s ease-in-out;
    
    .is-open-sidebar & {
        transform: translateX(-300px);
    }
}

body {
    position: relative;
   
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(sprites/topBG.svg);
        height: 100%;
        width: 100%;
        background-position: left top;
        background-size: 100% auto;
        background-repeat: no-repeat;
        z-index: -1;

        @include media-breakpoint-up(lg) {
            background-position: left -200px;
        }
        
        @include media-breakpoint-up(xl) {
            background-position: left -400px;
        }

        @include media-breakpoint-up(xxl) {
            background-position: left -600px;
        }

        @include media-breakpoint-up(xxxl) {
            background-position: left -800px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url(sprites/bottomBG.svg);
        height: 100%;
        width: 100%;
        background-position: left bottom;
        background-size: 100% auto;
        background-repeat: no-repeat;
        z-index: -1;

        @include media-breakpoint-down(md) {
            background-size: 180% auto;
        }

        @include media-breakpoint-down(lg) {
            background-size: 150% auto;
        }
    }
}

.block-background {
    background-color: $white;
    border-radius: 8px;
    box-shadow: 5px 5px 70px rgba($body-color, .35);

    @include media-breakpoint-down(sm) {
        background: none;
        box-shadow: none;
    }
}