/*
 * Page settings
 * Global page settings
 */

main {
    transition: all .3s ease-in-out;
    
    .is-open-sidebar & {
        transform: translateX(-300px);
    }
}

h5 {
    color: $dark;
}


body {
    position: relative;
    
    @include media-breakpoint-down(md) {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($light-blue, .24);
            height: 250px;
            width: 100%;
            z-index: -1;
        }
    }
    
    @include media-breakpoint-up(lg) {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(sprites/topBG.svg);
            height: 100%;
            width: 100%;
            background-position: left top;
            background-size: 100% auto;
            background-repeat: no-repeat;
            z-index: -1;
    
            @include media-breakpoint-up(lg) {
                background-position: left -200px;
            }
            
            @include media-breakpoint-up(xl) {
                background-position: left -400px;
            }
    
            @include media-breakpoint-up(xxl) {
                background-position: left -600px;
            }
    
            @include media-breakpoint-up(xxxl) {
                background-position: left -800px;
            }
        }
    
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: url(sprites/bottomBG.svg);
            height: 100%;
            width: 100%;
            background-position: left bottom;
            background-size: 120% auto;
            background-repeat: no-repeat;
            z-index: -1;
        }
    }
}

body.home {
    @include media-breakpoint-down(md) {
        &:before {
            height: 350px;
        }
    }
}

body.page-template-template-login::before,
body.page-template-template-register::before {
    @include media-breakpoint-down(md) {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(sprites/footer.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
        z-index: -1;
    }
}

.page-template-template-login,
.page-template-template-register {
    @include media-breakpoint-down(md) {
        .c-footer {
            display: none;
        }
    }
}

.block-background {
    background-color: $white;
    border-radius: 8px;
    box-shadow: 5px 5px 70px rgba($body-color, .35); 
}

.modal-open {
    overflow-y: hidden;
}

#scrollTop {
    display: none;
    width: 60px;
    line-height: 60px;
    border-radius: 50px;
    overflow: hidden;
    z-index: 999;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgba($secondary, .5);
    text-align: center;
    text-decoration: none;
    transition: all .3s ease-in-out;

    svg {
        fill: $white;
    }

    @include media-breakpoint-down(sm) {
        width: 40px;
        line-height: 40px;
        svg {
            width: 20px !important;
            height: 20px !important;
        }
    }
}
#scrollTop:hover {
    background-color: rgba($secondary, 1);
}