/*
 * Block: Number List
 * Styling number list
 */

.b-numberlist-wrapper {
  &:first-child,
  &:nth-child(2) {
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }
  &:nth-child(3) {
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }
}

.b-numberlist-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @include media-breakpoint-down(sm) {
    flex-direction: row;
  }

  p {
    margin: 0;
  }
}