/*
 * Block: Form
 * Styling CF7 contactform
 */
  
.contact-box {
    .user-box {
        position: relative;
    }

    .user-box input,
    .user-box textarea {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #000;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #000;
        outline: none;
        background: transparent;
    }

    textarea {
        height: 120px;
        min-height: 120px;
    }
}

.b-form__info {
    a {
        color: $dark;
        transition: color .3s ease-in-out;
        &:hover {
            color: $secondary;
        }
    }
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    border: 2px solid $secondary !important;
}

div.wpcf7-response-output {
    border: 2px solid $secondary !important;
    margin-left: 0;
    margin-right: 0;
}