/*
 * Block: Item List
 * Styling item list
 */

.b-item-list {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background-image: url(sprites/racket.svg);
        background-position: 120% top;
        background-size: 60% 100%;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        transform: scaleX(-1);
        left: -120px;

        @include media-breakpoint-down(lg) {
            background: none;
        }
    }
}

.b-item-list__item {
    background-color: $secondary;
    color: $white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        justify-content: flex-start;
        text-align: left;
    }

    @include media-breakpoint-down(xs) {
        flex-direction: row;
        justify-content: flex-start;
        text-align: left;
    }
    
    &:nth-child(2) {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    h5 {
        color: $white;
    }

    p {
        margin: 0;
    }
}