/*
 * Block: Reservation
 * Styling reservation
 */

.b-reservation {
    @include media-breakpoint-down(sm) {
        background-color: rgba(#2288C9, .24);
    }
}

.b-reservation__image {
    img {
        width: 50%;
        padding-top: 30px;
        padding-bottom: 30px;
        transform: rotate(15deg);
    }
}