/*
 * Block: Reservation
 * Styling reservation
 */

 .b-reservation {
    background-color: $light-blue;
    overflow: hidden;
}

.b-reservation-image {
    height: 1000px;
    width: 50%;
    position: absolute;
    top: 50%;
    right: 10%;
    background: no-repeat center center;
    transform: rotate(15deg) translateY(-50%);
    background-size: auto 70%;
}