/*
 * Block: Reservation
 * Styling reservation
 */

.b-reservation {
    background-color: $light-blue;
}

.b-reservation-image {
    overflow: hidden;
}

.b-reservation-image__asset {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: rotate(15deg);
    width: 100%;
    height: 130%;
}