/*
 * Components: Buttons
 * Custom buttons styling
 */

.btn {
    padding: .375rem 1.5rem;
    &:hover {
        box-shadow: 2px 4px 10px #4d5061;
    }
}

.btn-primary {
    &:hover,&:focus {
        background-color: $dark-secondary !important;
        border-color: $dark-secondary !important;
    }
}

.btn-secondary {
    color: $white;

    &:hover {
        background-color: $dark-secondary;
        border-color: $dark-secondary;
    }
}

.btn-link {
    color: $white;
    font-weight: 700;
    padding: 0;
    border-bottom: 1px solid $white;
    border-radius: 0;

    &--primary {
        color: $primary;
        border-bottom: 1px solid $primary;
    }

    &--dark {
        color: $dark;
        border: none;
    }
}

.btn-white {
    background-color: $white;
    border-color: $white;
    color: $secondary;
}

.btn-outline {
    background-color: transparent;
    border-color: $dark;
    color: $dark;
    border-width: 2px;

    &--blue {
        border-color: $primary;
        color: $primary;
    }
    
    &--secondary {
        border-color: $secondary;
        color: $secondary;
    }
}

.btn-dark {
    background-color: $dark;
    border-color: $dark;
    color: $white;
}