/*
 * Component: Nav
 * Styling navigation
 */
.c-nav-main,
.c-nav-footer,
.c-nav-legal,
.c-nav-sub {
    ul {
        list-style: none;
        display: flex;
        margin: 0;
    }
}

.c-nav-main ul,
.c-nav-sub ul {
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.c-nav-main {
    li {
        position: relative;
        padding: .5rem 1.5rem 0 1.5rem;

        &:last-child {
            padding-right: 0;
        }
    }

    a {
        display: block;
        color: $white;
        transition: all .3s ease-in-out;
        border-bottom: 2px solid transparent;
        //padding-bottom: .2rem;
    }

    .current-menu-item {
        & > a {
            color: $white;
            border-bottom: 2px solid $white;
        }
    }

    a:hover {
        //padding-bottom: .2rem;
        border-bottom: 2px solid $white;
    }

    .btn-contact {
        a {
            @extend .btn;
            @extend .btn-outline;
            @extend .btn-outline--white;
    
            &:hover {
                background-color: $white;
                color: $secondary;
            }
        }
    }
    
    .btn-contact.current-menu-item {
        a {
            background-color: $white;
            color: $secondary;
        }
    }
}

.c-nav-footer {
    ul {
        flex-direction: column;
        align-items: center;

        @include media-breakpoint-up(sm) {
            align-items: start;
        }
    }

    li {
        margin-bottom: 5px;

        a {
            transition: all .3s ease-in-out;
            color: $white;
            border: none;
            padding: 0;
        }

        &:hover a {
            color: $secondary;
        }
    }
    
    .sub-menu {
        display: none;
    }
}

.c-nav-legal {
    li {
        a {
            transition: all .3s ease-in-out;
            color: $white;
        }

        &:hover a {
            color: $secondary;
        }
    }
}

.c-nav-sub {
    li {
        border-right: 1px solid $white;
        line-height: 1;
        padding-left: 1rem;
        padding-right: 1rem;

        &:last-child {
            border-left: 1px solid transparent;
            border-right: none;
            padding-right: 0;
        }
    }
    
    a {
        font-size: 0.875rem;
    }
}

.is-fixed {
    .c-nav-main {
        a {
            color: $primary;
            border-bottom: 2px solid transparent;
        }

        li:not(.btn-contact) a:hover {
            border-bottom: 2px solid $secondary;
        }

        .current-menu-item {
            a {
                color: $secondary;
                border-bottom: 2px solid $secondary;
            }
        }

        .btn-contact {
            a {
                border-color: $primary !important;
                color: $primary !important;
        
                &:hover {
                    background-color: $secondary !important;
                    color: $white !important;
                    border-color: $secondary !important;
                }
            }
        }
    
        .btn-contact.current-menu-item {
            a {
                background-color: $secondary !important;
                color: $white !important;
                border-color: $secondary !important;
            }
        }
    
        ul li .sub-menu li {
            padding: 0 !important;
        }
    
        .sub-menu li a {
            border: none;
            padding: .5rem 1.5rem !important;
        }
    
        .sub-menu li a:hover {
            border: none !important;
        }
    
        .sub-menu .current-menu-item a {
            border: none !important;
            color: $secondary;
        }
    }

    .c-nav-sub {
        li {
            border-right: 1px solid $primary;

            &:last-child {
                border-left: 1px solid transparent;
                border-right: none;
            }
        }

        a {
            color: $primary;
        }
    }
}

.c-nav-main {

    ul li .sub-menu {
        padding-top: .5rem;
        min-width: 100%;
        background: $body-color;
        border-radius: 0 0 8px 8px;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }

    ul li:hover .sub-menu{
        display: flex;
        flex-direction: column;
        align-items: self-start;
    }

    ul li .sub-menu li {
        display: block;
        width: 100%;
        transition: all .3s ease-in-out;
        padding: 0 !important;
    }

    .sub-menu li a {
        text-align: left;
        border: none;
        padding: .5rem 1.5rem !important;
    }

    .sub-menu li:hover {
        background-color: $dark;
    }

    .sub-menu li:hover a {
        color: $secondary;
    }

    .sub-menu li a:hover {
        border: none !important;
    }

    .sub-menu .current-menu-item {
        background-color: $dark;
    }

    .sub-menu .current-menu-item a {
        border: none !important;
        color: $secondary;
    }

    .menu-item-has-children:hover {
        background-color: #30323d;
        border-radius: 8px 8px 0 0;
    }

    .menu-item-has-children > a:after {
        color: #fff;
        content: ' ▼';
        font-size: 10px;
        vertical-align: 1px;
        padding-left: 5px;
    }
}