/*
 * Component: Footer
 * Styling footer
 */

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    @include media-breakpoint-down(md){
        position: relative;
    }
}

.c-footer {
    transition: all .3s ease-in-out;

    @include media-breakpoint-down(md){
        background-image: url(sprites/footer.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .is-open-sidebar & {
        transform: translateX(-300px);
    }
}

.c-footer-top__content {
    display: flex;
    justify-content: center;
    color: $white;
    text-align: center;

    @include media-breakpoint-up(sm) {
        justify-content: start;
        text-align: left;
    }

    @include media-breakpoint-up(lg) {
        justify-content: center;
    }

    h5 {
        color: $white;
    }

    ul, li {
        padding: 0;
    }
    
    a {
        color: $white;
        transition: all .3s ease-in-out;
        
        &:hover,
        &:focus {
            color: $secondary;
        }
    }

    p {
        margin: 0;
    }
}

.c-footer-bottom {
    color: $white;

    ul {
        padding: 0;
    }

    li {
        padding-left: 2rem;
    }
    
    p {
        margin: 0;
    }
}

.c-logo-footer {
    display: block;
    width: 180px;
    height: 60px;
    background-image: url(sprites/sporezo-logo-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
}