/*
 * Component: Nav
 * Styling navigation
 */
.c-nav-main,
.c-nav-footer,
.c-nav-legal,
.c-nav-sub {
    ul {
        list-style: none;
        display: flex;
        margin: 0;
    }
}

.c-nav-main ul,
.c-nav-sub ul {
    justify-content: flex-end;
    align-items: center;
    padding: 0;

    li {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

.c-nav-main {
    a {
        color: $white;
    }

    .current-menu-item {
        a {
            color: $white;
            padding-bottom: .2rem;
            border-bottom: 2px solid $white;
        }
    }

    a:hover {
        padding-bottom: .2rem;
        border-bottom: 2px solid $white;
    }

    .btn-contact {
        a {
            @extend .btn;
            @extend .btn-outline;
            @extend .btn-outline--white;
    
            &:hover {
                background-color: $white;
                color: $secondary;
            }
        }
    }
    
    .btn-contact.current-menu-item {
        a {
            background-color: $white;
            color: $secondary;
        }
    }
}

.c-nav-footer {
    ul {
        padding: 0;
        flex-direction: column;
        align-items: center;

        @include media-breakpoint-up(sm) {
            align-items: start;
        }
    }

    li {
        padding: 0;
        margin-bottom: 5px;

        a {
        color: $white;
        border: none;
        padding: 0;
        }
    }
}

.c-nav-legal {
    a {
        color: $white;
    }
}

.c-nav-sub {
    li {
        border-right: 1px solid $white;
        line-height: 1;

        &:last-child {
            border-left: 1px solid transparent;
            border-right: none;
        }
    }
    
    a {
        font-size: 0.875rem;
    }
}

.is-fixed {
    .c-nav-main {
        a {
            color: $primary;
        }

        li:not(.btn-contact) a:hover {
            padding-bottom: .2rem;
            border-bottom: 2px solid $secondary;
        }

        .current-menu-item {
            a {
                color: $secondary;
                padding-bottom: .2rem;
                border-bottom: 2px solid $secondary;
            }
        }

        
    
        .btn-contact {
            a {
                border-color: $primary !important;
                color: $primary !important;
        
                &:hover {
                    background-color: $secondary !important;
                    color: $white !important;
                    border-color: $secondary !important;
                }
            }
        }
    
        .btn-contact.current-menu-item {
            a {
                background-color: $secondary !important;
                color: $white !important;
                border-color: $secondary !important;
            }
        }
    }

    .c-nav-sub {
        li {
            border-right: 1px solid $primary;

            &:last-child {
                border-left: 1px solid transparent;
                border-right: none;
            }
        }

        a {
            color: $primary;
        }
    }
}