/*
 * Components: Login
 * Custom login styling
 */

.c-login-content {
    height: 550px;
    box-shadow: 5px 5px 70px rgba($body-color, .35);

    .c-login--register,
    .c-login--login {
        background-color: $white;
    
        form {
            width: 100%;
        }
    
        input[type=text],
        input[type=password],
        input[type=email] {
            padding: .6rem .8rem;
            border: 1px solid $light-blue;
            border-radius: 10px;
            width: 70%;
            background-color: rgba($primary, .1);
        }
    }

    .c-login--login {
        border-radius: 8px 0 0 8px;
    }

    .c-login--register {
        border-radius: 0 8px 8px 0;
    }

    .c-login--info {
        background-color: $secondary;
        border-radius: 0 8px 8px 0;
    }

    .c-register--info {
        background-color: $secondary;
        border-radius: 8px 0 0 8px;
    }

    .c-login--login,
    .c-login--info {
        height: 100%;
    }
}

.c-login__image {
    background-image: url(sprites/user.svg);
    height: 80px;
    width: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}