/*
 * Component: Footer
 * Styling footer
 */

.c-footer-top {
    background-color: $dark-blue;
}

.c-footer-top__content {
    color: $white;
    h5 {
        color: $white;
    }

    li{
        padding: 0;
    }

    p {
        margin: 0;
    }
}