/*
 * Components: Login
 * Custom login styling
 */

.c-login-content {
    height: 550px;

    .c-login--register,
    .c-login--login {
        background-color: $white;
    
        form {
            width: 100%;
        }

        .login-username label,
        .login-password label,
        .label-hide {
            display: none;
        }
    
        input[type=text],
        input[type=password],
        input[type=email] {
            padding: .6rem .8rem;
            border: 1px solid $light-blue;
            border-radius: 10px;
            width: 100%;
            background-color: rgba($primary, .1);

        }
        #wp-submit {
            @extend .btn;
            @extend .btn-secondary;
            @extend .btn-stretched;
        }
    }

    .c-login--login {
        border-radius: 8px 0 0 8px;
        box-shadow: 5px 5px 70px rgba($body-color, .35);

        @include media-breakpoint-down(md) {
            border-radius: 8px;
        }
    }

    .c-login--register {
        border-radius: 0 8px 8px 0;
        box-shadow: 5px 5px 70px rgba($body-color, .35);

        @include media-breakpoint-down(md) {
            border-radius: 8px;
        }
    }

    .c-login--info {
        background-color: $secondary;
        box-shadow: 5px 5px 70px rgba($body-color, .35);
        border-radius: 0 8px 8px 0;
    }

    .c-register--info {
        background-color: $secondary;
        box-shadow: 5px 5px 70px rgba($body-color, .35);
        border-radius: 8px 0 0 8px;
    }

    .c-login--login,
    .c-login--info,
    .c-login--register,
    .c-register--info {
        height: 100%;
    }
}

.c-login__image {
    background-image: url(sprites/user.svg);
    height: 80px;
    width: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    @include media-breakpoint-down(md) {
        height: 100px;
        width: 100px;
    }
}

.c-login-content--first {
    @include media-breakpoint-up(lg) {
        padding-right: 0 !important;
    }
}

.c-login-content--last {
    @include media-breakpoint-up(lg) {
        padding-left: 0 !important;
    }
}

.c-login__errors {
    p {
        color: red;
    }
}