/*
 * Component: Hero
 * Styling hero
 */

.c-hero {
    position: relative;
}

.c-hero__content {
  display: flex;
  align-items: center;
  width: 100%;
  color: $white;
}

.c-hero__title {
  color: inherit;
}


.hero-background {
  background-image: url(sprites/hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 5px 5px 70px rgba($body-color, .35); 
}

.c-hero__image {
  width: 50%;
}