/*
 * Component: Footer
 * Styling footer
 */

.c-footer-top {
    background-color: $dark-blue;
}

.c-footer-top__content {
    display: flex;
    justify-content: center;
    color: $white;
    text-align: center;

    @include media-breakpoint-up(sm) {
        justify-content: start;
        text-align: left;
    }

    @include media-breakpoint-up(lg) {
        justify-content: center;
    }

    h5 {
        color: $white;
    }

    ul, li {
        padding: 0;
    }

    p {
        margin: 0;
    }
}

.c-footer-bottom {
    background-color: $primary;
    color: $white;

    ul {
        padding: 0;
    }

    li {
        padding-left: 2rem;
    }
    
    p {
        margin: 0;
    }
}