/*
 * Components: Login
 * Custom login styling
 */

.c-login-content {
    height: 450px;
    box-shadow: 5px 5px 70px rgba($body-color, .35);

    .c-login--login {
        background-color: $white;
        border-radius: 8px 0 0 8px;
    
        form {
            width: 100%;
        }
    
        input[type=text],
        input[type=password],
        input[type=email] {
            padding: .8rem;
            border: 1px solid $light-blue;
            border-radius: 10px;
            width: 60%;
        }
    }

    .c-login--register {
        background-color: $secondary;
        border-radius: 0 8px 8px 0;
    }

    .c-login--loginn,
    .c-login--register {
        height: 100%;
    }
}

