/*
 * Component: Header
 * Styling header
 */

.c-header {
    width: 100%;
    font-weight: 600;
    transition: all .3s ease-in-out;

    .is-open-sidebar & {
        transform: translateX(-300px);
    }

    @include media-breakpoint-down(md) {
        &__bottom {
            height: 100%;
        }

        .container,
        .row {
            height: 100%;
        }
    }

    &__line {
        hr {
            height: 1.5px;
            border: none;
            color: $white;
            background-color: $white;
            margin: 0;
        }
    }
}

.c-logo-header {
    display: block;
    width: 180px;
    height: 60px;
    background-image: url(sprites/sporezo-logo-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;

    @include media-breakpoint-down(md) {
        background-image: url(sprites/sporezo-logo-normal.svg);
    }
}

.page-template-template-login,
.page-template-template-register,
.page-template-template-forgotpassword {

    .c-logo-header {
        background-image: url(sprites/sporezo-logo-white.svg);
    }
}

.is-fixed {
    position: fixed;
    z-index: 900;
    box-shadow: 2px 2px 10px rgba(48,50,61,0.35);
    transform: translateX(0) !important;
    animation: 1s headerDown;
    background-color: $white;

    .c-logo-header {
        background-image: url(sprites/sporezo-logo-normal.svg) !important;
    }

    .is-open-sidebar & {
        transform: translateX(-300px) !important;
    }

    .c-header__top {
        display: none !important;
    }

    .c-header__line {
        display: none !important;
        hr {
            color: $secondary;
            background-color: $secondary;
            margin: 0;
        }
    }
}

@keyframes headerDown {
    from {
      transform: translateX(0) translateY(-100%);
    }
  
    to {
      transform: translateX(0) translateY(0);
    }
}